<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HoTS_Forecaster_form.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <HoTS_Forecaster_form.Properties.Settings>
            <setting name="background" serializeAs="String">
                <value>.\Resources\tileable-classic-nebula-space-patterns-1.jpg</value>
            </setting>
            <setting name="Style" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="SimpleMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderType" serializeAs="String">
                <value />
            </setting>
            <setting name="IconSize" serializeAs="String">
                <value>50</value>
            </setting>
        </HoTS_Forecaster_form.Properties.Settings>
    </userSettings>
</configuration>
