{
	"Cancelation": {
		"Error": 0.001,
		"MaxEpoch": 1000,
		"Percent": 0,
		"Step": 0
	},
	"Filter": {
		"Max": 30000,
		"Range": [{
			"From": 0,
			"To": 0.4
		},{
			"From": 0.6,
			"To": 1
		}]
		
	},
	"Input": [".//Source//Model//NNData.csv",".//Source//Model//NNDataGauss.csv"],
	"MoreInfoLog": true,
	"Network": {
		"Layers": [25],
		"Shuffle": true,
		"ValidationPercent": 0.15
	},
	"Validation": {
		"Percent": 0.8
	}
}